



<!--

<!--Page principal
<div style="height: 100%;width: 100%;position: absolute">

    <!-- Menu tout à gauche
    <div style="height: 100%;width: 64px;position: absolute;background-color:#303030">
        <md-sidenav-container class="sidenav-container" style="height: 100%;width: 64px;background-color:#303030;overflow: hidden">
            <button md-button (click)="message.close()" >
                <img class="button-test" src="asset/img/home.png" >
            </button>
            <br>
            <br>
            <br>
            <br>
            <button md-button (click)="message.open()"  >
                <img class="button-test" src="asset/img/comments.png" >
            </button>
            <br>
            <br>
            <br>
            <br>
            <button md-button (click)="users.close()" >
                <img class="button-test" src="asset/img/user.png" >
            </button>
            <br>
            <br>
            <br>
            <br>
            <button md-button (click)="users.open()">
                <img class="button-test" src="asset/img/users.png" >
            </button>
            <br>
            <br>
            <br>
            <br>
            <button md-button >
                <img class="button-test" src="asset/img/process.png" >
            </button>
            <br>
            <br>
            <br>
            <br>
        </md-sidenav-container>

    </div>

    <!--logo Qwirk


    <!--liste utilisateur/groupe/channel
    <div style="left:64px;top:240px;height: calc(100% - 240px);width: 200px;position: absolute;background-color: magenta; border-right: #d1d1d1 3px solid">

        <md-sidenav-container class="sidenav-container" style="height: 100%;width: 200px;background-color: #e9e9e9">
            <!--Liste Groupe
            <md-sidenav #users (open)="second.focus()" mode="side" style="height: 100%;width: 200px;background-color: #e9e9e9" >
                <a>
                    List Groupe
                </a>
                <input #second type="HIDDEN" >
            </md-sidenav>

            <!--Liste Utilisateur
                <div>
                    <p>Search contact</p>
              <!--      <div>
                        <input class="search-bar" placeholder="Search" [(ngModel)]="query" (keyup)="search()">
                        <div *ngIf="query">
                            <button (click)="clearRequest()">X</button>
                        </div>
                    </div>
                    <friendRequest-list></friendRequest-list>
                    <h2>Contacts</h2>
                    <div *ngIf="profilesFind == null && profiles">
                        <div *ngFor="let profile of (profiles | async)">
                            <button (click)="showMessages(profile.userId)">
                                <img [src]="profile.picture" class="picture">
                                <div>
                                    <p>{{profile.username}}</p>
                                    <status [numberStatus]="profile.status"></status>
                                    <div>
                                        <button (click)="deleteContact(profile.userId)">X</button>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <form *ngIf="inApp" (click)="moreSearch = true" (ngSubmit)="search()">
                            <button type="submit">Search In Qwirk</button>
                        </form>
                    </div>
                    <div *ngIf="profilesFind">
                        <div *ngFor="let profile of profilesFind">
                            <button>
                                <img [src]="profile.picture" class="picture">
                                <div>
                                    <p>{{profile.username}}</p>
                                    <p>{{profile.userId}}</p>
                                    <div *ngIf="!requestSent(profile.userId)">
                                        <button (click)="sendFriendRequest(profile.userId)">Add</button>
                                    </div>
                                    <div *ngIf="requestSent(profile.userId)">
                                        <p>Envoyée</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>

                </div>

        </md-sidenav-container>
    </div>

    <!--Bar titre
    <div style="left:267px;top:0px;height: 180px;width: calc(100% - 267px);position: absolute;background-color: #e6e6e6;" >
        <div style="width: 400px;height: 120px ;margin: 30px auto">
            <p style="float: left;padding-right: 20px">
                <img class="icone-select" src="asset/img/home.png" >
            </p>
            <p style="line-height:65px;font-size: 30px;padding: 25px;margin-left: 20px">
                Home
            </p>



        </div>

    </div>

    <!--Div central
    <div>
        <div style="left:267px;top:180px;height: calc(100% - 180px);width: calc(100% - 267px);position:absolute">


            <md-sidenav-container class="sidenav-container" style="height: 100%;width: 100%;background-color: #efefef">
                <!--Message User
                <md-sidenav #message (open)="messageinput.focus()" mode="side" style="height: 100%;width: 100%;background-color: #efefef"" >
                <a>
                    User messagedsfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfg
                </a>
                <input #messageinput type="HIDDEN" >
                </md-sidenav>

                <!--home
                <a>

                    homertzeqtqrgdsfgsdfgsdfgsdfgsdfsdfgsdfgsdfg
                </a>

            </md-sidenav-container>


        </div>
    </div>

</div>

-->


<div class="container-fluid" style="overflow:hidden"   >
    <div class="row">
        <div *ngIf="!user">
            <md-toolbar color="primary"  >
                <a routerLink="/" class="toolbar-title" style="padding-left: 15px">Qwirk</a>
                <span class="fill-remaining-space"></span>
                <a md-button [routerLink]="['/login']" >Login</a>
                <a md-button [routerLink]="['/signup']">Sign up</a>
            </md-toolbar>
        </div>
    </div>
    <div class="row" style="height: 100%"  >
        <div class="col-md-2" *ngIf="user" style="height: 100%" >
            <div class="col-md-3" style="height: 100%; background-color:#303030">
                <button md-button (click)="message.close()" >
                    <img class="button-sidenav" src="asset/img/home.png" >
                </button>
                <br>
                <br>
                <br>
                <br>
                <button md-button (click)="message.open()"  >
                    <img class="button-sidenav" src="asset/img/comments.png" >
                </button>
                <br>
                <br>
                <br>
                <br>
                <button md-button (click)="users.close()" >
                    <img class="button-sidenav" src="asset/img/user.png" >
                </button>
                <br>
                <br>
                <br>
                <br>
                <button md-button (click)="users.open()">
                    <img class="button-sidenav" src="asset/img/users.png" >
                </button>
                <br>
                <br>
                <br>
                <br>
                <button md-button >
                    <img class="button-sidenav" src="asset/img/process.png" >
                </button>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-9" style="height:100%;">
                <div style="height: 200px;width: 100%;text-align: center;background-color: #e9e9e9; border-right: #d1d1d1 3px solid">
                    <img class="logo" src="favicon.png" >

                </div>
                <div style="height: 40px;width: 100%;position: relative;background-color: #0baf02; border-right: #0baf02 3px solid;vertical-align: middle">
                    <button md-button (click)="logout()" style="float: right;">Logout</button>
                    <user-status ></user-status>
                </div>
                <div style="width: 100%;position: relative;background-color: #e9e9e9; border-right: #d1d1d1 3px solid;vertical-align: middle;height: calc(100% - 240px)">
                    <side-menu ></side-menu>
                </div>
            </div>
        </div>
        <div class="col-md-10" style="height: 100%">
            <!-- Main page -->
            <router-outlet></router-outlet>
        </div>

    </div>

    <div class="col-md-3">
        <div *ngIf="user">
            <call-notif></call-notif>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div *ngIf="!user">
        <md-toolbar color="primary" >
            <a routerLink="/" class="toolbar-title">Qwirk</a>
            <span class="fill-remaining-space"></span>
            <a md-button [routerLink]="['/login']" >Login</a>
            <a md-button [routerLink]="['/signup']">Sign up</a>
        </md-toolbar>
    </div>
</div>
<div class="col-md-3">
    <div *ngIf="user">
        <div class="row">
            <div class="col-md-4">
                <md-sidenav-container class="sidenav-container" style="height: 100%;background-color:#303030;overflow: hidden">
                    <button md-button (click)="message.close()" >
                        <img class="button-test" src="asset/img/home.png" >
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button md-button (click)="message.open()"  >
                        <img class="button-test" src="asset/img/comments.png" >
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button md-button (click)="users.close()" >
                        <img class="button-test" src="asset/img/user.png" >
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button md-button (click)="users.open()">
                        <img class="button-test" src="asset/img/users.png" >
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button md-button >
                        <img class="button-test" src="asset/img/process.png" >
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                </md-sidenav-container>
            </div>
            <div class="col-md-8" *ngIf="user">
                <user-status></user-status>
                <button md-button (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <!-- Main page
        <router-outlet></router-outlet>
    </div>
</div>

-->


