<div class="max-height global-flex" >
    <div class="div-titre-router">
        <div class="row petite-div-titre-router">
            <div class="col-xs-2 profile-ico" >
                <img src="asset/img/user.png">
            </div>
            <div class="col-xs-offset-1 col-xs-5">
                <p class="titre-routeur" *ngIf="profile && profile.username">{{ profile.username }}</p>
            </div>
        </div>
    </div>

    <div id="profileList" class="row">
        <br>
        <div *ngIf="profileForm && (profile || contact)" layout="column" layout-fill layout-margin layout-padding>

            <div class="col-xs-12">
                <div class="row profile-section">
                    <div *ngIf="myProfile">
                        <img alt="picture" [src]="pictureId | displayProfileImage" class="picture-thumbs col-xs-offset-2 col-xs-6">
                        <br>
                        <file-upload *ngIf="myProfile" (onFile)="onPictureUpdate($event)" class="col-xs-4"></file-upload>
                    </div>
                </div>


                <div class="row">
                    <form [formGroup]="profileForm" #f="ngForm" (ngSubmit)="save()"
                          layout="column" layout-fill layout-padding layout-margin>

                        <div class="row">
                            <md-input-container *ngIf="myProfile" class="col-xs-offset-1 col-xs-2"><input mdInput formControlName="email" type="email"
                                                                                                          placeholder="E-Mail"></md-input-container>
                            <md-input-container class="col-xs-2"><input mdInput formControlName="username" type="text" placeholder="Display name">
                            </md-input-container>
                            <md-input-container *ngIf="myProfile" class="col-xs-2"><input mdInput formControlName="firstname" type="text"
                                                                                                          placeholder="First name"></md-input-container>
                            <md-input-container *ngIf="myProfile" class="col-xs-2"><input mdInput formControlName="lastname" type="text"
                                                                                                          placeholder="Last name"></md-input-container>
                            <md-input-container *ngIf="myProfile" class="col-xs-2">
                                <input mdInput placeholder="Birthday" formControlName="birthday" type="date">
                            </md-input-container>
                        </div>
                        <div class="row">
                            <md-input-container *ngIf="myProfile" class="col-xs-offset-3 col-xs-2"><input mdInput formControlName="newPassword" type="password"
                                                                                                          placeholder="New Password"></md-input-container>
                            <md-input-container *ngIf="myProfile" class="col-xs-2"><input mdInput formControlName="confirmPassword" type="password"
                                                                                                          placeholder="Confirm"></md-input-container>
                            <md-input-container *ngIf="myProfile" class="col-xs-2"><input mdInput formControlName="oldPassword" type="password"
                                                                                                          placeholder="Old Password"></md-input-container>
                        </div>
                        <md-input-container *ngIf="myProfile" class="bio-input"><textarea mdInput formControlName="biography"
                                                                                                         placeholder="Biography" ></textarea></md-input-container>
                        <br>
                        <div class="row" layout-align="space-between center">
                            <button md-raised-button class="mat-primary" type="submit" aria-label="profile">Edit Profile
                            </button>
                        </div>
                        <br>
                    </form>
                </div>

            </div>
            <br>
            <div class="col-xs-offset-2 col-xs-8">
                <div *ngIf="error !== ''">
                    <md-toolbar class="mat-warn" layout="row" layout-fill layout-padding layout-margin>
                        <button md-button (click)="error=''"><i class="material-icons">clear</i></button>
                        <p class="mat-body-1">{{ error }}</p>
                    </md-toolbar>
                </div>
                <div *ngIf="success !== ''">
                    <md-toolbar class="mat-primary">
                        <button md-button (click)="success=''"><i class="material-icons">clear</i></button>
                        <p class="mat-body-1">{{ success }}</p>
                    </md-toolbar>
                </div>

            </div>


        </div>
        <div *ngIf="!profileForm">
            <p>Loading ...</p>
        </div>
    </div>
</div>