#profileList {
  position: relative;
  overflow-x: hidden;
  flex-grow: 1;
  text-align: center;
}

.profile-ico {
  margin-left: 10px;
}

.profile-section {
  margin-bottom: 20px;
}

.bio-input {
  margin: 20px;
  box-shadow: 0 0 10px 2px #656565;
  width: 80%;
}

textarea {
  resize: none;
  height: 170px;
}
