<div class="width-max col-sm-12 statusbackground" [style.background-color]="color">
    <a md-button [routerLink]="['/profile']" class="col-sm-12 row">
        <img [src]="pictureId | displayProfileImage" alt="profile" class="tiny-picture"/>
        <span class="nom-utilisateur" *ngIf="profile && profile.username">{{ profile.username }}</span>
    </a>
    <select class="col-sm-12 row" [(ngModel)]="selectedStatus" (ngModelChange)="updateStatus($event)">
        <option value="0">Invisible</option>
        <option value="1">Online</option>
        <option value="2">Away</option>
        <option value="3">Busy</option>
    </select>
</div>