<div class="mat-content container-fluid">
    <div class="row">
        <div class="col-xs-12 center-block center-text">
            <form [formGroup]="recoverForm" #f="ngForm" (ngSubmit)="recover()">

                <md-input-container>
                    <input mdInput formControlName="email" type="email" placeholder="Email">
                </md-input-container>

                <div layout="row" layout-align="space-between center">
                    <button md-raised-button class="mat-primary" type="submit" aria-label="Recover">Recover</button>
                </div>
            </form>

            <md-divider></md-divider>

            <div layout="row" layout-align="center">
                <a md-button [routerLink]="['/login']">Remember your password?</a>
            </div>

            <div *ngIf="error !== ''">
                <md-toolbar class="mat-warn" layout="row" layout-fill layout-padding layout-margin>
                    <button md-button (click)="error=''"><i class="material-icons">clear</i></button>
                    <p class="mat-body-1">{{ error }}</p>
                </md-toolbar>
            </div>
            <div *ngIf="success !== ''">
                <md-toolbar class="mat-primary">
                    <button md-button (click)="success=''"><i class="material-icons">clear</i></button>
                    <p class="mat-body-1">{{ success }}</p>
                </md-toolbar>
            </div>

        </div>
    </div>
</div>
