<div class="col-xs-12 row max-height">
    <div class="col-sm-3">
        <div class="sidebar-nav">
            <div class="navbar navbar-default button-background" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Qwirk</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse button-background">
                    <ul class="nav navbar-nav sidemenu">
                        <li class="active">
                            <div class="div-button-sidenav big-screen">
                                <button class="button-background" (click)="button(0)">
                                    <img class="col-sm-12" src="asset/img/home.png">
                                </button>
                            </div>
                            <div class="div-button-sidenav small-screen">
                                <button class="button-background" (click)="button(0)"
                                        data-target=".sidebar-navbar-collapse" data-toggle="collapse">
                                    <img class="col-xs-offset-2 col-xs-3" src="asset/img/home.png">
                                    <span class="col-xs-7 nav-text">Home</span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="div-button-sidenav big-screen">
                                <button class="button-background" (click)="button(0)">
                                    <img class="col-sm-12" src="asset/img/comments.png">
                                </button>
                            </div>
                            <div class="div-button-sidenav small-screen">
                                <button class="button-background" (click)="button(0)"
                                        data-target=".sidebar-navbar-collapse" data-toggle="collapse">
                                    <img class="col-xs-offset-2 col-xs-3" src="asset/img/comments.png">
                                    <span class="col-xs-7 nav-text">Chat</span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="div-button-sidenav big-screen">
                                <button class="button-background" (click)="button(1)">
                                    <img class="col-sm-12" src="asset/img/user.png">
                                </button>
                            </div>
                            <div class="div-button-sidenav small-screen">
                                <button class="button-background" (click)="button(1)"
                                        data-target=".sidebar-navbar-collapse" data-toggle="collapse">
                                    <img class="col-xs-offset-2 col-xs-3" src="asset/img/user.png">
                                    <span class="col-xs-7 nav-text">Contact</span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="div-button-sidenav big-screen">
                                <button class="button-background" (click)="button(2)">
                                    <img class="col-sm-12" src="asset/img/users.png">
                                </button>
                            </div>
                            <div class="div-button-sidenav small-screen">
                                <button class="button-background" (click)="button(2)"
                                        data-target=".sidebar-navbar-collapse" data-toggle="collapse">
                                    <img class="col-xs-offset-2 col-xs-3" src="asset/img/users.png">
                                    <span class="col-xs-7 nav-text">Group</span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="row big-screen">
                                <call-handler></call-handler>
                            </div>
                        </li>
                        <li class="sidemenu-void"></li>
                        <li>
                            <div class="row div-button-sidenav big-screen">
                                <button class="button-background" (click)="logout()">
                                    <img class="col-sm-12" src="asset/img/left_arrow.png">
                                </button>
                            </div>
                            <div class="div-button-sidenav small-screen">
                                <button class="button-background" (click)="logout(0)"
                                        data-target=".sidebar-navbar-collapse" data-toggle="collapse">
                                    <img class="col-xs-offset-2 col-xs-3" src="asset/img/left_arrow.png">
                                    <span class="col-xs-7 nav-text">Logout</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

    </div>

    <div class="col-sm-9 appmenu global-flex">
        <div class="col-xs-12 row menudroite">
            <div class="row center-text">
                <img class="logo logo-reduce" src="logoqwirk.png">
            </div>
            <div class="row center-text">
                <user-status></user-status>
            </div>
            <div class="row extend-flex">
                <div>
                    <chat-list [hidden]="selected!==0" [type]="typeChat"></chat-list>
                    <contact-list [hidden]="selected!==1"></contact-list>
                    <chat-list [hidden]="selected!==2" [type]="typeGroup"></chat-list>
                </div>
            </div>
        </div>
    </div>
</div>
