.sidemenu {
  height: 100%;
  background-color: #303030;
  flex-flow: column;
  display: flex;
}

.sidemenu-void {
  flex: 1 1 auto;
}

.div-button-sidenav {
  padding-top: 10px;
}

.appmenu {
  height: 100%;
  border-right: #d1d1d1 3px solid;
  background-color: #e9e9e9
}