<div class="col-sm-12 row max-height">
    <div class="col-sm-3 sidemenu">
        <div class="div-button-sidenav">
            <button class="button-background" >
                <img class="col-sm-12" src="asset/img/home.png" >
            </button>
        </div>
        <div class="div-button-sidenav">
            <button class="button-background" (click)="button(0)"  >
                <img class="col-sm-12" src="asset/img/comments.png" >
            </button>
        </div>
        <div class="div-button-sidenav">
            <button class="button-background" (click)="button(1)" >
                <img class="col-sm-12" src="asset/img/user.png" >
            </button>
        </div>
        <div class="div-button-sidenav">
            <button class="button-background" (click)="button(2)">
                <img  class="col-sm-12" src="asset/img/users.png" >
            </button>
        </div>
        <call-handler></call-handler>

        <div class="sidemenu-void"></div>

        <div class="row div-button-sidenav">
            <button class="button-background" (click)="logout()">
                <img  class="col-sm-12" src="asset/img/left_arrow.png" >
            </button>
        </div>
    </div>

    <div class="col-sm-9 appmenu global-flex">
        <div class="col-sm-12 row menudroite">
            <div class="row">
                <img class="logo" src="logoqwirk.png">
            </div>
            <div class="row">
                <user-status ></user-status>
            </div>
            <div class="row extend-flex">
                <div>
                    <chat-list [hidden]="selected!==0" [type]="typeChat"></chat-list>
                    <contact-list [hidden]="selected!==1"></contact-list>
                    <chat-list [hidden]="selected!==2" [type]="typeGroup"></chat-list>
                </div>
            </div>
        </div>
    </div>
</div>
