<div class="max-height global-flex">
    <div class="div-titre-router">
        <div class="row petite-div-titre-router">
            <div class="col-xs-2">
                <img class="picture-head" [src]="groupPictureId | displayProfileImage">
            </div>
            <div class="col-xs-offset-1 col-xs-5">
                <p class="titre-routeur">
                    <span *ngIf="!group">New Group</span>
                    <span *ngIf="group">Edit {{group.title}}</span>
                </p>
            </div>
        </div>
    </div>

    <div id="GroupForm" class="row">
        <div *ngIf="group && isAdmin">Change group's picture :
            <file-upload [chatId]="groupId" (onFile)="onPictureUpdate($event)"></file-upload>
        </div>
        <label *ngIf="isAdmin">Group's Name
            <md-input-container>
                <input mdInput placeholder="Title" [(ngModel)]="groupTitle">
            </md-input-container>
        </label>
        <div *ngIf="mySelection.length > 0" class="row">
            <md-list class="col-xs-offset-5 col-xs-2">
                <md-list-item *ngFor="let selected of mySelection">
                        <button md-button class="mat-warn" (click)="remove(selected)">
                            <i class="material-icons">clear</i> {{selected.displayName}}
                        </button>
                </md-list-item>
            </md-list>
        </div>
        <div>
            <div>
                <label for="contact">Contacts
                    <md-input-container>
                        <input mdInput id="contact" type="text" placeholder="Add contacts" [(ngModel)]="query"
                               [ngModelOptions]="{standalone: true}" (keyup)=filter()>
                    </md-input-container>
                </label>
            </div>
            <div *ngIf="contactFiltred.length > 0" class="row">
                <md-list class="col-xs-offset-5 col-xs-2">
                    <md-list-item *ngFor="let contact of contactFiltred">
                        <button md-button class="mat-primary" (click)="select(contact)">
                            <i class="material-icons">add</i> {{contact.displayName}}
                        </button>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <label *ngIf="isAdmin">Publicly
            <md-checkbox class="mat-primary" [(ngModel)]="publicly"></md-checkbox>
        </label><br>

        <button md-button class="mat-primary validate" *ngIf="!groupId" (click)="addGroup()">Create</button>
        <button md-button class="mat-primary validate" *ngIf="groupId" (click)="updateGroup()">Update</button>

        <div *ngIf="errorMessage !== ''">
            <md-toolbar class="mat-warn" layout="row" layout-fill layout-padding layout-margin>
                <button md-button (click)="errorMessage=''"><i class="material-icons">clear</i></button>
                <p class="mat-body-1">{{ errorMessage }}</p>
            </md-toolbar>
        </div>

        <div *ngIf="successMessage !== ''">
            <md-toolbar class="mat-primary" layout="row" layout-fill layout-padding layout-margin>
                <button md-button (click)="successMessage=''"><i class="material-icons">clear</i></button>
                <p class="mat-body-1">{{ successMessage }}</p>
            </md-toolbar>
        </div>
    </div>
</div>