<div>
    <h5>New Group</h5>
    <!--[formGroup]="addForm" (ngSubmit)="addMessage()"-->

    <label>Group's Name
        <input placeholder="Title" [(ngModel)] = "groupTitle"/>
    </label>
    <div *ngIf="mySelection.length > 0">
        <div *ngFor="let selected of mySelection">
            <div>
                <span>{{selected.displayName}}</span>
                <a (click)="remove(selected)">x</a>
            </div>
        </div>
    </div>
    <div>
        <div>
            <input id="contact" type="text" placeholder="Add contacts" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" (keyup)=filter()>
            <label for="contact">Contacts</label>
        </div>
        <div *ngIf="contactFiltred.length > 0">
            <ul *ngFor="let contact of contactFiltred" >
                <li >
                    <a (click)="select(contact)">{{contact.displayName}}</a>
                </li>
            </ul>
        </div>
    </div>
    <button (click)="addGroup()">Create</button>
    <p *ngIf="error">Please add user before ^^</p>
</div>