<div *ngIf="group && !isMember" class="row">
    <div class="col-md-offset-3 col-md-6 vcenter">
        <div class="content-div">
            <h4 class="row col-md-12">Welcome on the group's : {{group.title}}</h4>
            <div class="row col-md-12">
                <button md-button class="mat-primary col-md-6" (click)="joinGroup()">Join Group !</button>
                <button md-button class="mat-warn col-md-6" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!group || isMember" class="row">
    <div class="col-md-offset-3 col-md-6 vcenter">
        <div class="content-div">
            <h4>You can't join this group.</h4>
            <button md-button class="mat-primary" (click)="cancel()">Go to home</button>
        </div>
    </div>
</div>