<div *ngIf="peerId || isCallActive">
    <div class="row div-button-sidenav">
        <button class="button-background" (click)="isHide = !isHide">
            <span class="col-md-12 show-call">
                <i class="material-icons text">phone</i>
            </span>
        </button>
    </div>

    <div id="call-modal" class="col-md-12" [hidden]="isHide">
        <div class="row call-section">
            <button class="btn btn-success" (click)="isHide = true">Hide</button>
            <div *ngIf="!isCallActive" class="row width-max">
                <p class="center-text action-text">Calling ...</p>
            </div>
            
            <div class="row">
                <div *ngIf="isCallActive">
                    <div *ngFor="let user of userList">
                        <div class="col-md-2">
                        <span style="margin-left: 35%;">{{user.username}}</span><br/>
                        <video style="min-width: 200px; max-width: 200px;" [hidden]="!user.videoStream || !user.videoStream.enabled" [src]="user.videoURL"
                               class="theirVideo" autoplay [poster]="user.pictureId | displayProfileImage"></video>
                        <img [hidden]="user.videoStream && user.videoStream.enabled"
                             [src]="user.pictureId | displayProfileImage" alt="user picture" style="min-width: 200px; max-width: 200px;">
                        </div>
                    </div>
                </div>
            </div>

            <div id="me" class="row width-max">
                <div class="col-md-offset-8 col-md-4">
                    <video style="max-width: 75px; opacity: 0.8;" [hidden]="!myVideoStream || !myVideoStream.enabled" [src]="myVideo" class="myVideo"
                           onloadedmetadata="this.muted = true" muted autoplay [poster]="myPicture | displayProfileImage"></video>
                    <img [hidden]="myVideoStream && myVideoStream.enabled" [src]="myPicture | displayProfileImage"
                         alt="user picture" style="max-width: 75px; opacity: 0.8;">
                </div>
            </div>

            <div class="row width-max">
                <div class="action-buttons">

                    <button style="background-color: green" md-button (click)="mute()" class="md-fab">
                        <i *ngIf="micButton" class="material-icons">mic</i>
                        <i *ngIf="!micButton" class="material-icons">&#xE02B;</i>
                    </button>
                    <!--<button class="mic" (click)="mute()">
                        <i *ngIf="micButton" class="material-icons">mic</i>
                        <i *ngIf="!micButton" class="material-icons">&#xE02B;</i>
                    </button>-->
                    <button md-button style="background-color: green" class="md-fab" *ngIf="hasCam" (click)="video()">
                        <i *ngIf="camButton" class="material-icons">videocam</i>
                        <i *ngIf="!camButton" class="material-icons">&#xE04C;</i>
                    </button>

                    <button md-button style="background-color: red" class="md-fab" (click)="stopCall()">
                        <i class="material-icons">call_end</i>
                    </button>
                    <a *ngIf="chat" [routerLink]="['/chat/'+chat._id]" (click)="isHide = true" class="goto pull-right">
                        <i class="material-icons">message</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
