<div *ngFor="let notif of callRequest | async">
    <div *ngIf="!notif.isReject">
        <div class="col-xs-2 call-div row">
            <div class="row col-xs-12">
                <p *ngIf="!notif.video" class="title">{{ notif.ownerName }} is calling you for audio</p>
                <p *ngIf="notif.video" class="title">{{ notif.ownerName }} is calling you with video</p>
            </div>
            <div class="row">
                <button md-button class="mat-primary col-xs-6 button-accept" aria-label="login"
                        (click)="acceptCall(notif)">
                    <i class="material-icons">call</i>
                </button>

                <button md-button class="mat-warn col-xs-6 button-refuse" aria-label="login"
                        (click)="refuseCall(notif)">
                    <i class="material-icons">call_end</i>
                </button>
            </div>
        </div>
    </div>
</div>