<div *ngIf="peerId" class="modal">

    <div *ngIf="!isCallActive">
        <span>Calling ...</span>
    </div>
    You: <video [src]="myVideo" muted="true" class="myVideo" autoplay poster="asset/user.png"></video>

    <div *ngIf="isCallActive">
        <div *ngFor="let user of userList">
            <span>{{user.username}}</span>
            <video [hidden]="!user.videoStream || !user.videoStream.enabled" [src]="user.videoURL" class="theirVideo" autoplay poster="asset/user.png"></video>
            <img [src]="user.pictureId | displayProfileImage" alt="user picture" style="max-width: 300px">
        </div>
    </div>
    <button (click)="mute()">{{micButton}}</button>
    <button (click)="video()">{{camButton}}</button>
    <button (click)="stopCall()">Stop call</button>
    <a md-button *ngIf="chat" [routerLink]="['/chat/'+chat._id]">Go to chat</a>
    <span>Debug peerId : {{ peerId }}</span>
</div>
