<h2 *ngIf="type === 'Chats' || !type">Chats</h2>
<div *ngIf="type === 'Groups'">
    <h2>Groups</h2>
    <button md-button class="mat-primary add-button col-md-12" (click)="createGroup()">Create Group <i class="material-icons">add_circle_outline</i></button>
</div>
<div class="row" >
    <div class="contacttab">
        <div *ngFor="let chat of chats | async">
            <div [contextMenu]="chatMenu" [contextMenuSubject]="chat" class="row">
                <div class="chatsbtn" *ngIf="!chat.blocked" (click)="showMessages(chat._id)">
                    <div class="row">
                        <img [src]="chat.picture | displayProfileImage" class="col-md-4">
                        <h3 class="text col-md-8 title">{{chat.title}}</h3>
                    </div>
                    <div class="row">
                        <div *ngIf="chat.lastMessage">
                            <p class="text chat-list-message">
                    <span *ngIf="chat.lastMessage.type == 'text' || chat.lastMessage.type == 'announce'"
                          [innerHTML]="chat.lastMessage.content" class="test"></span>
                                <span *ngIf="chat.lastMessage.type == 'file' || chat.lastMessage.type == 'picture'">
                            You receive a file.
                        </span>
                                <span *ngIf="chat.lastMessage.type == 'wizz'">
                            You receive a wizz.
                        </span>
                                <span *ngIf="chat.lastMessage.isNew" class="new-message-tag"><i class="material-icons">markunread</i></span>
                            </p>
                            <span class="date-list-message">{{chat.lastMessage.createdAt | amTimeAgo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<context [type]="type"></context>