<h5 *ngIf="type === 'Chats' || !type">List chats : </h5>
<div *ngIf="type === 'Groups'">
    <h5>List groups :</h5>
    <button (click)="createGroup()">Create Group</button>
</div>
<div *ngFor="let chat of chats | async">
    <div [contextMenu]="chatMenu" [contextMenuSubject]="chat">
        <button class="width-max" *ngIf="!chat.blocked" (click)="showMessages(chat._id)">
                <img [src]="chat.picture | displayProfileImage" class="picture">
                <h3 style="display: inline">{{chat.title}}</h3>
            <div>
                <div *ngIf="chat.lastMessage">
                    <p>
                    <span *ngIf="chat.lastMessage.type == 'text' || chat.lastMessage.type == 'announce'"
                          [innerHTML]="chat.lastMessage.content | slice:0:32"></span>
                        <span *ngIf="chat.lastMessage.type == 'file' || chat.lastMessage.type == 'picture'">
                            You receive a file.
                        </span>
                        <span *ngIf="chat.lastMessage.type == 'wizz'">
                            You receive a wizz.
                        </span>
                        <span *ngIf="chat.lastMessage.content.length > 32">...</span>
                        <span *ngIf="chat.lastMessage.isNew" class="new-message-tag"><i class="material-icons">error_outline</i></span>
                    </p>
                    <span class="last-message-timestamp">{{chat.lastMessage.createdAt | amTimeAgo }}</span>
                </div>
            </div>
        </button>
    </div>
</div>
<context [type]="type"></context>