<h5>List chats : </h5>
<div *ngFor="let chat of chats | async">
    <button>
        <img [src]="chat.picture">
        <div>
            <a [routerLink]="['/chat', chat._id]"><h2 class="chat-title">{{chat.title}}</h2></a>

            <span *ngIf="chat.lastMessage">
                <p *ngIf="chat.lastMessage.type == 'text'">{{chat.lastMessage.content}}</p>
                <span class="last-message-timestamp">{{chat.lastMessage.createdAt }}</span>
            </span>
        </div>
    </button>
    <div>
        <button (click)="removeChat(chat)">Remove</button>
    </div>
</div>