.div-button-del{
  float: right;
  position: relative;
  margin: 1em 0;
}

.buttondel{
  border: none;
  float: right;
  background-color: #e9e9e9;
}
.transparency {
  opacity: 0.5;
}

h2 {
  padding-left: 10px;
}

.icon-done{
  margin: 0;
}

.div-titre-icone{
  margin-left:10px ;
}

#request-contact-name{
  text-overflow: ellipsis ;
  padding-left: 3px;
}

#contactname {
  text-overflow: ellipsis;
}