.div-button-del{
  float: right;
  position: relative;
  margin: 1em 0;
}

.buttondel{
  border: none;
  float: right;
  background-color: #e9e9e9;
}
.transparency {
  opacity: 0.5;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.icon-done{
  margin: 0;
}

.div-titre-icone{
  padding-left:10px ;
}

#request-contact-name{
  text-overflow: ellipsis ;
  padding-left: 3px;
}

#contactname {
  text-overflow: ellipsis;
}

.button-contact {
  width: 100%;
  border-bottom: #d1d1d1 1.5px solid;
  border-left: none;
  border-right: none;
  border-top: #d1d1d1 1.5px solid;
  background-color: #e9e9e9;
  cursor: pointer;
}

.info-button-contact {
  padding-right: 5px;
  text-align: center;
}