<div>
    <p>Search contact</p>

    <form (ngSubmit)="search()">
        <input type="text" [(ngModel)]="query" name="Name">

        <button type="submit">Search</button>
    </form>

    <h2>Contacts</h2>
    <div *ngIf="profiles.isEmpty">
        Aucun Contact :/
    </div>
    <div *ngIf="profiles">
        <div *ngFor="let profile of (profiles | async)">
            <p>{{profile.username}}</p>
            <p>{{profile.userId}}</p>
        </div>
        <form *ngIf="moreSearch" (ngSubmit)="searchInQwirk()">
            <button type="submit">Search In Qwirk</button>
        </form>
    </div>
</div>