.dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: grey;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.block {
  min-width: 70px;
}

div {
  text-align: left;
}