@import '../../node_modules/@angular/material/core/theming/all-theme';

@include mat-core();
$app-primary: mat-palette($mat-green, 500, 100, 700);
$app-accent:  mat-palette($mat-grey, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

.fill-remaining-space {
  flex: 1 1 auto;
}

html,body { height: 100%; margin: 0; padding: 0; }

body {
  background-color: #e6e6e6;
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
}

.sebm-google-map-container {
  width: 450px;
  height: 450px;
}

.message {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
  color: white;
}

.call-div{
  background-color: #d1d1d1;
  position: absolute;
  text-align: center;
  margin: 10px;
  top: 50%;
  left: 50%;
  border-radius: .4em;
  border: 2px solid transparent;
  z-index: 2;

}
.message-other {
  position: relative;
  background-color: rgba(148, 156, 148);
  border-radius: .4em;
  margin-left: 0;
}

.message-other:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: rgba(148, 156, 148);
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}

.message-mine {
  background-color: mat-color($app-primary);
  position: relative;
	border-radius: .4em;
}

.message-mine:after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: mat-color($app-primary);
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.message-announce {
  margin: 10px;
}

.message-date {
  float: right;
  margin-right: 10px;
}

.message-raw {
  margin: 10px;
}

.crossbutton {
  color: rgba(230, 44, 1, 0.78) !important;
}

.button-refuse{
  background-color: #ff4f0b;
  float: right;
  margin-bottom: 10px;
  margin-right: 10%;
}

.button-accept{
  float: left;
  margin-left: 10%;
  margin-bottom: 10px;

}


.picture {
  max-width: 48px;
  max-height: 48px;
  float: left;
  position: relative;
  margin: 2px auto auto;
}

.info-button-contact{
  margin-left: 10px;
  margin-top: 15px;
}

.emoticon {
  max-width: 30px;
  max-height: 30px;
}
.icone-select{
  width: 80px;
  height: 80px;
  float: left;
  display:block ;
}

.picture-thumbs {
  max-width: 200px;
  max-height: 200px;
}

.modal-file-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  align-items: center;
}

.modal-file-drop-dragover {
  visibility: visible;
}

.file-drop{
  width: 100%;
  height: 100%;
  float: left;
}

.upload-modal {
  background-color: gray;
  border-radius: 20px;
  vertical-align: middle;
}

.modal-popup {
  width: 100%;
  height: 100%;
}
//test
.angular2-contextmenu .dropdown-menu {
  border: solid 1px black;
  background-color: white;
  padding: 0;
}
.angular2-contextmenu li {
  display: block;
  border-top: solid 1px black;
  text-transform: uppercase;
  text-align: center;
}
.angular2-contextmenu li:first-child {
  border-top:none;
}
.angular2-contextmenu a {
  color:black;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}
.angular2-contextmenu a:hover {
  color:black;
  background-color:white;
}
.angular2-contextmenu button{
  border: none;
  background: none;
  margin: -20 0 0 0;
}
@-webkit-keyframes monlogo {
  to{
    -webkit-transform: rotate(360deg);
  }
}

.monlogo {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-animation: monlogo 2s linear infinite;
  animation: monlogo 5s infinite;
}

.container {
  margin-right: 0;
  margin-left: 0;
}

.col-md-10{
  padding-right: 0;
  padding-left: 0;

}
.col-md-12{
  padding-right: 0;
  padding-left: 0;

}

.row{
  margin-right: 0px;
  margin-left: 0px;
}
.col-md-7{
  padding-right: 0;
  padding-left: 0;

}

.nom-utilisateur{
  color: white;
  font-size: 20px;
}

.col-md-3{
  padding-right: 0;
  padding-left: 0;

}
.col-md-2{
  padding-right: 0;
  padding-left: 0;

}

.col-md-9{
  padding-right: 0;
  padding-left: 0;

}


.col-md-5{
  padding-right: 0;
  padding-left: 0;

}


.logosignup{
  width: 300px;
  height: 300px;
}

.logo{
  width: 100%;
  height: 100%;
}

.button-contact{
  padding-bottom: 15px;
  width: 95%;
  height: 60px;

}

.div-max{
  height: 100%;
  overflow: auto;
}

.center-text {
  text-align: center;
}

.button-sidenav{
}




.info-utilisateur{
  width: 100%;
}

.div-button-sidenav{
  padding-top: 10px;
}

.button-background{
  background-color: #303030 ;
  border: none;
}

.mat-button{
  padding: 0px 0px;
}

.div-color-logout{
  width: 100%;
  color: #0bb401;
  vertical-align: middle;
  text-align: center;
  //text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
}
.div-info{
  font-size: 40px;

}

.grand-logo{
  width: 400px;
  height: 400px;
}

.div-titre-router{
  width: 100%;
  height: 200px;
  background-color: #e6e6e6;
  text-align: center;
  padding-top:25px;
  border-bottom: #d1d1d1 3px solid;
}

.petite-div-titre-router{
  margin-right: auto;
  margin:auto;
  width:300px;
  height: 150px;
  padding-top: 35px;
}

.titre-routeur{
  font-size: 40px;
  margin-left: 10px;
  padding-top:15px;
  display: block
}