<div *ngIf="!peerId">
    <button (click)="call(false)">Vocal</button>
    <button (click)="call(true)">Video</button>
</div>
<div *ngIf="peerId">

    <div *ngIf="!isCallActive">
        <span>Calling ...</span>
    </div>
    <video [src]="myVideo" muted="true" class="myVideo" autoplay></video>: You

    <div *ngIf="isCallActive">
        Your friend: <video [src]="distantVideo" class="theirVideo" autoplay></video>
    </div>
    <button (click)="mute()">{{micButton}}</button>
    <button (click)="video()">{{camButton}}</button>
    <button (click)="stopCall()">Stop call</button>
    <span>Debug peerId : {{ peerId }}</span>
</div>
