<div id="azerty" class="modal-file-drop">
    <div fileDrop
         [ngClass]="{'file-is-over': fileIsOver, 'file-uploading': uploading}"
         (fileOver)="fileOver($event)"
         (onFileDrop)="onFileDrop($event)"
         class="file-drop">
    </div>
</div>

<div *ngIf="uploading" class="upload-modal">
    <div class="modal-popup">
        <h3>Uploading {{name}}</h3>
        <span>Progress {{progress}}%</span><br>
        <span>Speed {{speed}} KB/s</span><br>
        <span>Time elapsed {{elapsed}} s</span><br>
        <span>Time remaining {{remaining}} s</span><br>
    </div>
</div>

<div *ngIf="error !== ''">
    <md-toolbar class="mat-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="mat-body-1">{{ error }}</p>
        <button (click)="error=''">X</button>
    </md-toolbar>
</div>

<input type="file" class="file-input" (change)="onFileSelectChange()"/>