<file-upload #upload [chatId]="chatId" (onFile)="onFileUploaded($event)"></file-upload>
<div *ngIf="error !== ''">
    <md-toolbar class="mat-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="mat-body-1">{{ error }}</p>
        <button (click)="error=''">X</button>
    </md-toolbar>
</div>
<form [formGroup]="addForm" (ngSubmit)="addMessage()">

    <label>Message
        <textarea formControlName="content" (keydown.enter)="addMessage();false"></textarea>
    </label>

    <button type="submit">Send</button>
</form>
<button (click)="sendWizz()">Send WIZZ</button>