<div *ngIf="error !== ''">
    <md-toolbar class="mat-warn" layout="row" layout-fill layout-padding layout-margin>
        <button md-button (click)="error=''"><i class="material-icons">clear</i></button>
        <p class="mat-body-1">{{ error }}</p>
    </md-toolbar>
</div>

<div class="col-md-2">
    <file-upload #upload [chatId]="chat._id" (onFile)="onFileUploaded($event)"></file-upload>
</div>
<div class="col-md-8">
    <form [formGroup]="addForm" (ngSubmit)="addMessage()">

        <md-input-container class="message-input">
            <textarea mdInput placeholder="Message" formControlName="content" (keydown.enter)="addMessage();false"></textarea>

        </md-input-container>
        <!--<button type="submit" class="send">Send</button>-->

    </form>
</div>
<div class="col-md-1">
    <button id="wizzbutton" md-button (click)="sendWizz()">WIZZ<i class="material-icons">snooze</i></button>
</div>