<ion-view title="Mot de passe oublié">
    <ion-nav-buttons side="right">
        <button ng-click="logger.reninitpass()" ng-disabled="!logger.email || logger.email.length === 0" class="button button-clear button-positive">Done</button>
    </ion-nav-buttons>
    <ion-content class="passwordforgotten">
        <div class="text-center instructions">
            Mot de passe oublié
        </div>
        <div class="list">
            <label class="item item-input">
                <input ng-model="logger.email" on-return="logger.reninitpass()" type="text" placeholder="Adresse email">
            </label>
        </div>
        <a href="#">Réinitialiser</a>
    </ion-content>
</ion-view>