<ion-view title="Inscription">
    <ion-content class="register">
        <ion-nav-buttons side="right">
            <button ng-click="register.register()" ng-disabled="!logger.username || logger.username.length === 0" class="button button-clear button-positive">Register</button>
        </ion-nav-buttons>
            <div class="list">
                <form methods="post">
                    <label class="item item-input">
                        <input ng-model="register.username" on-return="logger.register()" type="text" placeholder="Pseudo">
                    </label>
                    <label class="item item-input">
                        <input ng-model="register.email" on-return="logger.register()" type="text" placeholder="Adresse mail">
                    </label>
                    <label class="item item-input">
                        <input ng-model="register.password" on-return="logger.register()" type="password" placeholder="Mot de passe">
                    </label>
                    <label class="item item-input">
                        <input ng-model="register.passwordconfirmation" on-return="logger.register()" type="password" placeholder="Confirmation mot de passe">
                    </label>
                    <label class="item button">
                        <button ng-click="register.register()" ng-disabled="!register.username || register.username.lenght === 0">Register</button>
                    </label>
                </form>
            </div>
        <a href="#!/login">Connexion</a>
    </ion-content>
</ion-view>
</ion-view>
